
<!-- 
////////////////////////////////////////////////////////////////

Author: Free-Template.co
Author URL: http://free-template.co.
License: https://creativecommons.org/licenses/by/3.0/
License URL: https://creativecommons.org/licenses/by/3.0/
Site License URL: https://free-template.co/template-license/
  
Website:  https://free-template.co
Facebook: https://www.facebook.com/FreeDashTemplate.co
Twitter:  https://twitter.com/Free_Templateco
RSS Feed: https://feeds.feedburner.com/Free-templateco

////////////////////////////////////////////////////////////////
-->
<!DOCTYPE html>
<html lang="en">

  <head>
    <title>SplitWay &mdash; SplitWay</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Free-Template.co" />
  
    <link rel="shortcut icon" href="ftco-32x32.png">
  
    <link href="https://fonts.googleapis.com/css?family=DM+Serif+Display:400,400i|Roboto+Mono&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/animate.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.fancybox.min.css') }}">
  
  
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/ionicons/css/ionicons.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/fontawesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/flaticon/font/flaticon.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/aos.css') }}">
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
  
    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  
  </head>

<body>

  <header role="banner">
    <nav class="navbar navbar-expand-lg  bg-dark">
      <div class="container-fluid" style="background-color: black;">
        <a class="navbar-brand " href="{{ url_for('home') }}">SplitWay</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05"
          aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

   
        <div class="collapse navbar-collapse" id="navbarsExample05">
            <ul class="navbar-nav pl-md-5 ml-auto">
              <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('home') }}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home',_anchor='WhatWeDo') }}">What We Do</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home') }}">Get Started</a>
              </li>
              
            </ul>
  
            <div class="navbar-nav ml-auto">
                {% if current_user.is_authenticated %}
                <div class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active">{{ current_user.first_name }}</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
                      </li> 
                </div>
                {% else %}
                <div class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login') }}">Log In</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                      </li>
                  
                </div>
                {% endif %}
            </div>
  
          </div>
      </div>
    </nav>
  </header>
  <!-- END header -->
<!--
  <div class="slider-item innerp overlay" data-stellar-background-ratio="0.5"
    style="background-image: url('images/hero_2.jpg');">
    <div class="container">
      <div class="row slider-text align-items-center justify-content-center text-center">
        <div class="col-lg-12 col-sm-12">
          <h1 class="mb-4">Register</h1>
          <p class="custom-breadcrumbs"><a href="index.html">Home</a> <span class="mx-3">/</span>Sign Up</p>
        </div>
      </div>
    </div>
  </div>
-->
  <div class="section bg-light block-11">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-8 text-center">
          <h2 class="mb-4 section-title">So you couldn't find what you're looking for? Add a new event below, and make everything in the world right again.</h2>
        </div>

        <!--THIS IS THE ADD EVENT FORM-->
        <div class="section">
          <div class="container">
            <div class="row mb-5">
      
              
              <div class="col-12 mb-5 order-2">
                <form method="POST" action="">
                  {{ form.hidden_tag() }}
    
                    <div class="row">
                      <div class="col-md-6 form-group">
                        {{ form.current_location.label(class="form-control-label") }}
    
                          {% if form.current_location.errors %}
                            {{ form.current_location(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                              {% for error in form.current_location.errors %}
                                  <span>{{ error }}</span>
                              {% endfor %}
                            </div>
                          {% else %}
                            {{ form.current_location(class="form-control form-control-lg") }}
                          {% endif %}
                      </div>
                        <div class="col-md-6 form-group">
                          {{ form.destination.label(class="form-control-label") }}
      
                            {% if form.destination.errors %}
                              {{ form.destination(class="form-control form-control-lg is-invalid") }}
                              <div class="invalid-feedback">
                                {% for error in form.destination.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                              </div>
                            {% else %}
                              {{ form.destination(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                      </div>
    
                      <div class="row">
                          <div class="col-md-12 form-group">
                            {{ form.time.label(class="form-control-label") }}
        
                              {% if form.time.errors %}
                                {{ form.time(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                  {% for error in form.time.errors %}
                                      <span>{{ error }}</span>
                                  {% endfor %}
                                </div>
                              {% else %}
                                {{ form.time(class="form-control form-control-lg") }}
                              {% endif %}
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12 form-group">
                            {{ form.eventName.label(class="form-control-label") }}
        
                              {% if form.eventName.errors %}
                                {{ form.eventName(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                  {% for error in form.eventName.errors %}
                                      <span>{{ error }}</span>
                                  {% endfor %}
                                </div>
                              {% else %}
                                {{ form.eventName(class="form-control form-control-lg") }}
                              {% endif %}
                          </div>
                        </div>
    
                    <div class="row">
                      <div class="col-md-6 form-group">
                        {{ form.submit(class="btn btn-outline-black px-3 py-3") }}
                      </div>
                    </div>
                </form>
              </div>
            </div>
         <!--END OF FORM CODE-->
      </div>
    </div>
  </div>
  <!-- END .block-4 -->
  </div>

  <footer class="site-footer" role="contentinfo">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-4 mb-5">
          <h3 class="mb-4">About Craft</h3>
          <p class="mb-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias nihil numquam aspernatur
            inventore sint eligendi nostrum!</p>
          <ul class="list-unstyled footer-link d-flex footer-social">
            <li><a href="#" class="p-2"><span class="fa fa-twitter"></span></a></li>
            <li><a href="#" class="p-2"><span class="fa fa-facebook"></span></a></li>
            <li><a href="#" class="p-2"><span class="fa fa-linkedin"></span></a></li>
            <li><a href="#" class="p-2"><span class="fa fa-instagram"></span></a></li>
          </ul>

        </div>
        <div class="col-md-5 mb-5 pl-md-5">
          <div class="mb-5">
            <h3 class="mb-4">Contact Info</h3>
            <ul class="list-unstyled footer-link quick-contact">
              <li class="d-block">
                <span class="d-block caption">Address:</span>
                <span>34 Street Name, City Name Here, United States</span>
              </li>
              <li class="d-block">
                <span class="d-block caption">Telephone:</span><span>+1 242 4942 290</span>
              </li>
              <li class="d-block">
                <span class="d-block caption">Email:</span><span>info@yourdomain.com</span>
              </li>
            </ul>
          </div>

          
        </div>
        <div class="col-md-3 mb-5">
          <h3 class="mb-4">Quick Links</h3>
          <ul class="list-unstyled footer-link">
            <li><a href="#">About</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Disclaimers</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-3">

        </div>
      </div>
      <div class="row">
        <div class="col-12 text-md-center text-left">
          <!-- Link back to Free-Template.co can't be removed. Template is licensed under CC BY 3.0. -->
              <p class="copyright"><small>&copy;
                  <script>document.write(new Date().getFullYear());</script> Cardboard. All Rights Reserved. Design by <a
                    href="https://free-template.co" target="_blank">Free-Template.co</a></small></p>
        </div>
      </div>
    </div>
  </footer>
  <!-- END footer -->

  <!-- loader -->
  <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
      <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
      <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
        stroke="#ffc107" /></svg></div>

        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-migrate-3.0.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.waypoints.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.fancybox.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.stellar.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/aos.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>