
<!-- 
////////////////////////////////////////////////////////////////

Author: Free-Template.co
Author URL: http://free-template.co.
License: https://creativecommons.org/licenses/by/3.0/
License URL: https://creativecommons.org/licenses/by/3.0/
Site License URL: https://free-template.co/template-license/
  
Website:  https://free-template.co
Facebook: https://www.facebook.com/FreeDashTemplate.co
Twitter:  https://twitter.com/Free_Templateco
RSS Feed: https://feeds.feedburner.com/Free-templateco

////////////////////////////////////////////////////////////////
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <title>SplitWay &mdash; SplitWay</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="Free-Template.co" />

  <link rel="shortcut icon" href="ftco-32x32.png">

  <link href="https://fonts.googleapis.com/css?family=DM+Serif+Display:400,400i|Roboto+Mono&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/animate.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.fancybox.min.css') }}">


  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/ionicons/css/ionicons.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/fontawesome/css/font-awesome.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/flaticon/font/flaticon.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/aos.css') }}">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">

  <!-- Theme Style -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

</head> 

<body>

  <header role="banner">
    <nav class="navbar navbar-expand-lg  bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand " href="{{ url_for('home') }}">SplitWay</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05"
          aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

   
        <div class="collapse navbar-collapse" id="navbarsExample05">
          <ul class="navbar-nav pl-md-5 ml-auto">
            <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('home') }}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('home') }}">What We Do</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('home') }}">Get Started</a>
            </li>
            
          </ul>
          {% if current_user.is_authenticated %}
          <div class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
                </li>         
          </div>
          {% else %}
          <div class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('login') }}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                </li>
            
          </div>
          {% endif %}
        </div>
      </div>
    </nav>
  </header>
  <!-- END header 
  <form method="post" class="search-form">
              <span class="icon ion ion-search"></span>
              <input type="text" class="form-control" placeholder="Search...">
            </form>
            search bar stuffs

            <a href="https://www.youtube.com/watch?v=_VnYSoMI-9Q" data-fancybox data-ratio="2"
                class="btn-play"><span class="ion ion-ios-play"></span></a>
                Youtube video button insertion
    -->

  <div class="slider-item overlay" data-stellar-background-ratio="0.5"
    style="background-image: url('images/city_background.jpg');">
    <div class="container">
      <div class="row slider-text align-items-center justify-content-center">
        <div class="col-lg-12 text-center col-sm-12">
          <h1 class="mb-4" data-aos="fade-up" data-aos-delay="100">SPLITWAY</h1>
          <div>
            <p data-aos="fade-up" data-aos="fade-up" data-aos-delay="">Make a friend. Save some money.<br><br><br><br><br><br></p>
          </div>
          <p class="mb-0" data-aos="fade-right" data-aos-delay="200"><a href="login.html" class="btn btn-outline-white px-4 py-3">Get Started</a></p>
          <div class="btn-play-wrap mx-auto" data-aos="fade-up" data-aos-delay="200">
            
          </div>

        </div>
      </div>
    </div>
  </div>

  

<div class="section portfolio-section" style="background-color:#ffffff">
  
  
    <div class="section">
      <div class="row mb-5 justify-content-center" data-aos="fade-up">
        <div class="col-md-8 text-center">
          <h2 class="mb-4 section-title">Who we are</h2>
          <p>SplitWay is your college-friendly tool to make rideshare a painless and social experience</p>
          <p><a href="home.html/learnmore">Learn More</a></p>
        </div>
      </div>

        <div class="container">
          <div class="row">
            <div class="col-lg-3 mb-4">
              <div class="service" data-aos="fade-up" data-aos-delay="">
                <span class="icon icon-magnifier mb-4 d-block"></span>
                <h3>Search</h3>
                <p>Enter your travel criteria</p>
              </div>
            </div>
            <div class="col-lg-3 mb-4">
              <div class="service" data-aos="fade-up" data-aos-delay="100">
                <span class="icon icon-map mb-4 d-block"></span>
                <h3>Locate</h3>
                <p>View your custom map of nearby events</p>
              </div>
            </div>
            <div class="col-lg-3 mb-4">
              <div class="service" data-aos="fade-up" data-aos-delay="200">
                <span class="icon icon-list mb-4 d-block"></span>
                <h3>Compare</h3>
                <p>Easily compare dozens of nearby events that best your own event travel needs</p>
              </div>
            </div>
            <div class="col-lg-3 mb-4">
              <div class="service" data-aos="fade-up" data-aos-delay="300">
                <span class="icon icon-event mb-4 d-block"></span>
                <h3>Attend</h3>
                <p>Add your search to find more people, and enjoy your event!</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>







<!--
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 ml-auto mb-5 order-2">
          <span class="d-block text-uppercase text-primary">Who We Are</span>
          <h2 class="mb-4 section-title">Do Things That Matters. Plan. Create. Grow.</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id autem temporibus blanditiis accusamus perferendis libero accusantium nisi itaque tempore, harum aliquid aut, sapiente dolor tenetur. Tempora corrupti suscipit delectus perspiciatis!</p>
          <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus.</p>
          <p><a href="#" class="btn btn-outline-black">Learn More</a></p>
        </div>
        <div class="col-lg-6 order-1">
          <figure class="img-dotted-bg">
            <img src="images/about_1.jpg" alt="Image" class="img-fluid">

          </figure>

        </div>
      </div>
    </div>
  </div>


  
  <div class="section bg-light block-11">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-8 text-center">
          <h2 class="mb-4 section-title">Testimonial</h2>
        </div>
      </div>
      <div class="nonloop-block-11 owl-carousel">
        <div class="item">
          <div class="block-33 h-100">
            <div class="vcard d-flex mb-3">
              <div class="image align-self-center"><img src="images/person_1.jpg" alt="Person here"></div>
              <div class="name-text align-self-center">
                <h2 class="heading">Carl Smith</h2>
                <span class="meta">Customer Corp.</span>
              </div>
            </div>
            <div class="text">
              <blockquote>
                <p>&rdquo; Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat qui, ipsum debitis id
                  reprehenderit ut soluta possimus consectetur asperiores totam veniam quasi molestiae. Animi doloribus
                  accusamus eius ex laudantium vitae? &ldquo;</p>
              </blockquote>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  -->
  <!-- END .block-4 -->








  </div>

  <div class="bg-primary py-5">
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <h3 class="text-white mb-2 font-weight-normal" data-aos="fade-right" data-aos-delay="">Let's get started</h3>
          <p class="text-white mb-4" data-aos="fade-right" data-aos-delay="100">Find your event mates here.</p>
            
          <p class="mb-0" data-aos="fade-right" data-aos-delay="200"><a href="login.html" class="btn btn-outline-white px-4 py-3">Log In</a></p>
          <p class="mb-0" data-aos="fade-right" data-aos-delay="200"><a href="register.html" class="btn btn-outline-white px-4 py-3">Register</a></p>
        </div>
      </div>

    </div>
  </div>

  

  <footer class="site-footer" role="contentinfo">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-4 mb-5">
          <h3 class="mb-4">We need help</h3>
          <p class="mb-5">This is so painful please help us oh my lord please save our souls idk what to put here pelase please save me</p>
          <ul class="list-unstyled footer-link d-flex footer-social">
            <li><a href="#" class="p-2"><span class="fa fa-twitter"></span></a></li>
            <li><a href="#" class="p-2"><span class="fa fa-facebook"></span></a></li>
            <li><a href="#" class="p-2"><span class="fa fa-linkedin"></span></a></li>
            <li><a href="#" class="p-2"><span class="fa fa-instagram"></span></a></li>
          </ul>

        </div>
        <div class="col-md-5 mb-5 pl-md-5">
          <div class="mb-5">
            <h3 class="mb-4">Contact Info</h3>
            <ul class="list-unstyled footer-link quick-contact">
              <li class="d-block">
                <span class="d-block caption">Address:</span>
                <span class="caption-text">711 Techwood Drive, Atlanta, United States</span>
              </li>
              <li class="d-block">
                <span class="d-block caption">Telephone:</span><span class="caption-text">+1 XXX XXX XXXX</span>
              </li>
              <li class="d-block">
                <span class="d-block caption">Email:</span><span class="caption-text">splitway@splitway.com</span>
              </li>
            </ul>
          </div>

          
        </div>
        <div class="col-md-3 mb-5">
          <h3 class="mb-4">Quick Links</h3>
          <ul class="list-unstyled footer-link">
            <li><a href="#">About</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Disclaimers</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-3">

        </div>
      </div>
      <div class="row">
        <div class="col-12 text-md-center text-left">
          <!-- Link back to Free-Template.co can't be removed. Template is licensed under CC BY 3.0. -->
              <p class="copyright"><small>&copy;
                  <script>document.write(new Date().getFullYear());</script> SplitWay. All Rights Reserved. Design by <a
                    href="https://free-template.co" target="_blank">Free-Template.co</a></small></p>
        </div>
      </div>
    </div>
  </footer>
  <!-- END footer -->

  <!-- loader -->
  <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
      <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
      <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
        stroke="#ffc107" /></svg></div>

  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-migrate-3.0.1.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.waypoints.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.fancybox.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.stellar.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/aos.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>